.infoScreen {
  background-color: #eaeaea;
  padding: 2rem 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #1f2051;
  font-size: 2.5rem;
}

h3 {
  color: #1f2051;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
