.infoCard {
  display: grid;
  grid-template-columns: 0.5fr 2fr;

  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 2rem auto;
  padding: 1rem 2rem;

  background-color: var(--darkBlue);

  color: var(--white);
}

.infoHeaders {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  row-gap: 1.5rem;
}

.detailHeader {
  margin: 0;

  font-weight: bold;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.infoDetails {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  row-gap: 1.5rem;
}

.detail {
  margin: 0;

  font-size: 1.2rem;
  text-transform: capitalize;
}

.airlineDetail {
  display: grid;
  grid-template-columns: 10rem 7rem 1fr;
}

.image {
  margin: auto 0;
}

.flightNumberDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
