.infoScreen {
  padding: 2rem 3rem;

  background-color: var(--lightBlue);
}

.infoHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoHeader {
  font-size: 2rem;
  color: var(--darkBlue);
}

.back {
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 500;
  color: var(--darkBlue);
}

.viewAllContainer {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid var(--darkBlue);
  border-radius: 25px;
  margin: 0 auto;
  padding: 0.5rem;
  width: 10rem;

  cursor: pointer;
  background-color: var(--white);

  color: var(--darkBlue);
}

.viewAllContainer:hover {
  background-color: var(--darkBlueHover);

  color: var(--white);
}

.viewAll {
  margin: 0 auto;

  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
