.searchContainer {
  border: 2px solid #1f2051;
  border-radius: 25px;

  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  .searchContainer {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .searchContainer {
    margin: 0 7rem;
  }
}

.search {
  border: none;
  margin: 0.3rem;
  padding: 0 0.5rem 0 2.5rem;
  width: 100%;
  height: 2.5rem;

  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: left center;
  outline: none;

  font-weight: bold;
}

.search::placeholder {
  font-size: 1rem;
  color: #1f20519a;
}
