.noFlightsContainer {
  margin-top: 4rem;

  text-align: center;
}

.noFlightsHeaderText {
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkBlue);
}

.noFlightsText {
  font-size: 1.5rem;
  color: var(--darkBlue);
}
