.container {
  display: grid;
  grid-template-columns: 7rem 0.5fr 1.2fr 1.5fr 1fr 2fr;
  column-gap: 1rem;
  border: 1px solid black;
  border-radius: 12px;
  margin: 0.5rem 0;
  padding: 1rem 0;

  background-color: #1f2051;
  color: #ffffff;
  cursor: pointer;
}

.container:hover {
  background-color: #45467e;
}

.doubleColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  margin: auto;
}

.columnDetail {
  margin: auto 0;
}

.gateDetail {
  text-align: center;
  margin: auto 0;
}
