.singleFlightContainer {
  display: grid;
  grid-template-columns: 7rem 0.5fr 1.2fr 1fr 1fr 2fr;
  column-gap: 1.5rem;

  border-radius: 12px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  margin: 0.5rem 0;
  padding: 1rem 0;

  background-color: var(--darkBlue);
  cursor: pointer;

  color: var(--white);
}

.singleFlightContainer:hover {
  background-color: var(--darkBlueHover);
}

.image {
  margin: auto;
}

.doubleColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columnDetail {
  margin: auto 0;
}
