.listContainer {
  padding: 2rem;

  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: #ffffff;
}

h3 {
  color: #1f2051;
}

.headers {
  display: grid;
  grid-template-columns: 7rem 0.5fr 1.2fr 1.5fr 1fr 2fr;
  column-gap: 1rem;
  /* border: 1px solid black; */
  margin-top: 1rem;
  /* padding-left: 1rem; */
  /* text-align: center; */
}

.arrivalHeader {
  margin-left: 1rem;
}

/* .flightAndStatusHeader {
  text-align: left;
  margin-left: 3rem;
} */

h6 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2051;
  margin: auto 0;
}
